* {
    margin: 0;
    padding: 0;

    font-family: "Source Sans Pro", Arial;
    font-weight: 400;
}

::-webkit-scrollbar {
    display: none;
}

html, header, body, button {
    width: 100%;
    height: 100%;
}

button {
    background-color: #00509b;
    color: #ffffff;

    border: none;
    overflow: hidden;
    outline: none;

    font-size: x-large;
    font-weight: 700;
}

header {
    height: 20%;
    position: fixed;
    top: 15px;
    z-index: 1000;
}

.Title {
    position: absolute;
    left: 100px;
    top: 30px;
    font-weight: bold;
}

body{
    background-color: var(--color-bg);
    color: var(--color-fg);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

[data-theme="dark"] {
    --color-bg: #121212;
    --color-fg: #ffffff;
}


.buttonPanel{
    position:absolute;
    height: 60%;
    width: 90%;
    top: 15%;
}

.buttonRow{
    height: 55%;
    padding: 2.5px 0;
}

.buttonWrapper {
    display: inline-block;
    width: 45%;
    height: 100%;
}

.textPanel {
    position: absolute;
    height: 20%;
    width: 90%;
    top: 50%;

    display: flex;
}
.textWrapper {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.quitButton {
    width: 60px;
    height: 60px;
    
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 1000;

    font-size:xx-large;
}

.creditsButton {
    width: 60px;
    height: 60px;
    
    position: fixed;
    right: 50px;
    bottom: 120px;
    z-index: 1000;

    font-size:xx-large;
}

.logoTöne {
    float: right;
    width: 150px;
    height: 150px;
    padding-right: 30px;
}


.logoUHH {
    width: 150px;
    height: 150px;

    position: absolute;
    bottom: 30px;
    left: 30px;
}

.logoLigeti {
    width: 210px;
    height: 130px;

    position: absolute;
    bottom: 30px;
    left: 210px;
}

.logoMKG {
    width: 200px;
    height: 61px;

    position: absolute;
    bottom: 50px;
    left: 450px;
}

.creditsDash {
    position: absolute;
    bottom: 20px;
    left: 20px;
    height: 50px;
    width: 100%;
}

.filmButton {
    background-image: url(Assets/BG_Arousal.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bassButton {
    background-image: url(Assets/bassbtn.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}